@use "variables";


html,
body {
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    .contSladerSwiper{
      width: 100%;
      height: 650px;
      margin: auto;
      .swiper {
          width: 100%;
          height: 100%;
          .swiper-wrapper{
              background: transparent;
          }
          .swiper-button-next{
              color: variables.$color-verdea;
              margin-right:50px ;
          }
          .swiper-button-prev{
              color: variables.$color-verdea;
              margin-left:50px ;

          }
          .swiper-slide {
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              .contBloque{
                  width: 100%;
                  height: 650px;
                  padding: 5px 0px;
                  background: rgb(50, 50, 50);
                  position: relative;
                  .contBloque_img{
                      width: 100%;
                      height:650px;
                  }

                  .bloque_capa{
                      position: absolute;
                      top: 0;
                      width: 100%;
                      height: 650px;
                      background: #f9f7deaf;
                      display: flex;
                      flex-direction: row;
                      justify-content:space-;
                      align-items: center;
                      padding-top: 100px;
                      .bloque_capa_text{
                          width:800px;
                          height: 100%;
                          position: relative;
                          z-index: 100;
                          .bloque_capa_textTitle{
                              font-family:Rainbow;
                              font-weight: 100;
                              font-size: 80px;
                              line-height: 80px;
                              color: rgb(43, 103, 121);
                              padding-left: 100px;
                          }
                      }

                      .bloque_capa__figure{
                          width: auto;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          position: absolute;
                          right: 100px;

                    }
                }
              }
          }
      }
    }
  }

    



/***************************/
@media (min-width:1025px) and (max-width:1200px){
    body {
        position: relative;
        height: 100%;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        .contSladerSwiper{
          width: 100%;
          height: 600px;
          margin: auto;
          .swiper {
              width: 100%;
              height: 100%;
              .swiper-wrapper{
                  background: transparent;
              }
              .swiper-button-next{
                  color: variables.$color-verdea;
                  margin-right:50px ;
              }
              .swiper-button-prev{
                  color:variables.$color-verdea;
                  margin-left:50px ;
    
              }
              .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .contBloque{
                      width: 100%;
                      height: 600px;
                      padding: 5px 0px;
                      background: rgb(35, 22, 22);
                      position: relative;
                      .contBloque_img{
                          width: 100%;
                          height:600px;
                      }
    
                      .bloque_capa{
                          position: absolute;
                          top: 0;
                          width: 100%;
                          height: 650px;
                          background: #f9f7deaf;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-;
                          align-items: center;
                          padding-top: 100px;
                          .bloque_capa_text{
                              width:800px;
                              height: 100%;
                              position: relative;
                              z-index: 100;
                              .bloque_capa_textTitle{
                                  font-family:Rainbow;
                                  font-weight: 100;
                                  font-size: 70px;
                                  line-height: 70px;
                                  color: rgb(43, 103, 121);
                                  padding-left: 50px;
                              }
                          }
    
                          .bloque_capa__figure{
                              width: auto;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: absolute;
                              right: 100px;
    
                        }
                    }
                  }
              }
          }
        }
      }

}






/***************************/
@media (min-width:770px) and (max-width:899px){
    body {
        position: relative;
        height: 100%;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        .contSladerSwiper{
          width: 100%;
          height: 600px;
          margin: auto;
          .swiper {
              width: 100%;
              height: 100%;
              .swiper-wrapper{
                  background: transparent;
              }
              .swiper-button-next{
                  color: variables.$color-verdea;
                  margin-right:50px ;
              }
              .swiper-button-prev{
                  color:variables.$color-verdea;
                  margin-left:50px ;
    
              }
              .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .contBloque{
                      width: 100%;
                      height: 600px;
                      padding: 5px 0px;
                      background: rgb(35, 22, 22);
                      position: relative;
                      .contBloque_img{
                          width: 100%;
                          height:600px;
                      }
    
                      .bloque_capa{
                          position: absolute;
                          top: 0;
                          width: 100%;
                          height: 650px;
                          background: #f9f7deaf;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-;
                          align-items: center;
                          padding-top: 100px;
                          .bloque_capa_text{
                              width:800px;
                              height: 100%;
                              position: relative;
                              z-index: 100;
                              .bloque_capa_textTitle{
                                  font-family:Rainbow;
                                  font-weight: 100;
                                  font-size: 70px;
                                  line-height: 70px;
                                  padding-left: initial;
                              }
                          }
    
                          .bloque_capa__figure{
                              width: auto;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: absolute;
                              right: 100px;
    
                        }
                    }
                  }
              }
          }
        }
      }

}




/***************************/
@media (min-width:641px) and (max-width:769px){
    body {
        position: relative;
        height: 100%;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        .contSladerSwiper{
          width: 100%;
          height: 600px;
          margin: auto;
          .swiper {
              width: 100%;
              height: 100%;
              .swiper-wrapper{
                  background: transparent;
              }
              .swiper-button-next{
                  color: variables.$color-verdea;
                  margin-right:50px ;
              }
              .swiper-button-prev{
                  color:variables.$color-verdea;
                  margin-left:50px ;
    
              }
              .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .contBloque{
                      width: 100%;
                      height: 600px;
                      padding: 5px 0px;
                      background: rgb(35, 22, 22);
                      position: relative;
                      .contBloque_img{
                          width: 100%;
                          height:600px;
                      }
    
                      .bloque_capa{
                          position: absolute;
                          top: 0;
                          width: 100%;
                          height: 650px;
                          background: #f9f7deaf;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-;
                          align-items: center;
                          padding-top: 100px;
                          .bloque_capa_text{
                              width:800px;
                              height: 100%;
                              position: relative;
                              z-index: 100;
                              .bloque_capa_textTitle{
                                  font-family:Rainbow;
                                  font-weight: 100;
                                  font-size: 60px;
                                  line-height: 60px;
                                  padding-left: initial;
                              }
                          }
    
                          .bloque_capa__figure{
                              width: auto;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: absolute;
                              right: 100px;
    
                        }
                    }
                  }
              }
          }
        }
      }

}





/***************************/
@media (min-width:481px) and (max-width:640px){
    body {
        position: relative;
        height: 100%;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        .contSladerSwiper{
          width: 100%;
          height: 600px;
          margin: auto;
          .swiper {
              width: 100%;
              height: 100%;
              .swiper-wrapper{
                  background: transparent;
              }
              .swiper-button-next{
                  color: variables.$color-verdea;
                  margin-right:20px ;
              }
              .swiper-button-prev{
                  color:variables.$color-verdea;
                  margin-left:20px ;
    
              }
              .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .contBloque{
                      width: 100%;
                      height: 600px;
                      padding: 5px 0px;
                      background: rgb(35, 22, 22);
                      position: relative;
                      .contBloque_img{
                          width: 100%;
                          height:600px;
                      }
    
                      .bloque_capa{
                          position: absolute;
                          top: 0;
                          width: 100%;
                          height: 650px;
                          background: #f9f7deaf;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-;
                          align-items: center;
                          padding-top: 100px;
                          .bloque_capa_text{
                              width:800px;
                              height: 100%;
                              position: relative;
                              z-index: 100;
                              .bloque_capa_textTitle{
                                  font-family:Rainbow;
                                  font-weight: 100;
                                  font-size: 50px;
                                  line-height: 50px;
                                  padding-left: initial;
                              }
                          }
    
                          .bloque_capa__figure{
                              width: auto;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: absolute;
                              right: auto;
    
                        }
                    }
                  }
              }
          }
        }
      }

}




/***************************/
@media (min-width:320px) and (max-width:480px){
    body {
        position: relative;
        height: 100%;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        background: green;
        .contSladerSwiper{
          width: 100%;
          height: 600px;
          margin: auto;
          .swiper {
              width: 100%;
              height: 100%;
              .swiper-wrapper{
                  background: transparent;
              }
              .swiper-button-next{
                  color: variables.$color-verdea;
                  margin-right:20px ;
              }
              .swiper-button-prev{
                  color:variables.$color-verdea;
                  margin-left:20px ;
    
              }
              .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .contBloque{
                      width: 100%;
                      height: 600px;
                      padding: 5px 0px;
                      background: rgb(35, 22, 22);
                      position: relative;
                      .contBloque_img{
                          width: 100%;
                          height:600px;
                      }
    
                      .bloque_capa{
                          position: absolute;
                          top: 0;
                          width: 100%;
                          height: 650px;
                          background: #f9f7deaf;
                          display: flex;
                          flex-direction: row;
                          justify-content:space-;
                          align-items: center;
                          padding-top: 100px;
                          .bloque_capa_text{
                              width:800px;
                              height: 100%;
                              position: relative;
                              z-index: 100;
                              .bloque_capa_textTitle{
                                  font-family:Rainbow;
                                  font-weight: 100;
                                  font-size: 42px;
                                  line-height: 42px;
                                  padding-left: initial;
                              }
                          }
    
                          .bloque_capa__figure{
                              width: auto;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              position: absolute;
                              bottom: 50px;
                              right: auto;
    
                        }
                    }
                  }
              }
          }
        }
      }

}



